<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>React Demo</title>
		
		<!-- ES5 Shim -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.8/es5-shim.min.js" type="text/javascript" />
		
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript" />
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<!-- JSX + ReactJS -->
		<!-- For debugging: -->
		<script src="https://fb.me/react-with-addons-15.0.2.js" />
		<script src="https://fb.me/react-dom-15.0.2.js" />
		
		
		<!-- For production: -->
		<!-- <script src="https://fb.me/react-with-addons-15.0.2.min.js" /> -->
		<!-- <script src="https://fb.me/react-dom-15.0.2.min.js" /> -->
	
	</head>
	<body>
		<div class="container">
			<h1>Log monitor</h1>
		</div>
		
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Newest log messages</div>
				<div class="panel-body" id="componentList">Loading ...</div>
			</div>
		</div>
		
		<script th:src="@{/jsx/index.js}" type="text/javascript" />
	</body>


</html>