<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>React Demo</title>
		
		<!-- ES5 Shim -->
		<script th:src="@{/js/lib/es5-shim.min.js}" type="text/javascript" />
		
		<!-- JQuery -->
		<script th:src="@{/js/lib/jquery-2.2.3.min.js}" type="text/javascript" />
		
		<!-- Bootstrap -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
		<script th:src="@{/js/lib/bootstrap.min.js}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<!-- JSX + ReactJS -->
		<!-- For debugging: -->
		<script th:src="@{/js/lib/react-with-addons.js}" />
		<script th:src="@{/js/lib/react-dom.js}" />
		
		
		<!-- For production: -->
		<!-- <script th:src="@{/js/lib/react-with-addons.min.js}" /> -->
		<!-- <script th:src="@{/js/lib//react-dom.min.js}" /> -->
	
	</head>
	<body>
		<div class="container">
			<div id="myDiv">Loading ...</div>
		</div>
				
		<script th:src="@{/jsx/index.js}" type="text/javascript" />
	</body>


</html>